[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "==19.9.0"
psycopg2-binary = "*"
pillow = "*"
djangorestframework= "*"
djoser = "*"
requests= "*"
python-dotenv = "*"
django-allauth = "*"
tuspy = "*"
django-extensions  = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.7"
