{% load static %}
    <div class="container">
      <div class="section">
        <h1 class="is-size-1">Upload Image</h1>
        <hr><br>
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data" class="form">
          {% csrf_token %}
          <div class="field">
            <div class="control">
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="image_file">
                  <span class="file-cta">
                    <span class="file-label">Choose a file...</span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="image_type" value='public' checked>
                Public
              </label>
              <label class="radio">
                <input type="radio" name="image_type" value='private'>
                Private
              </label>
            </div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <input type="submit" value="Submit" class="button is-primary" />
            </div>
          </div>
        </form>
        <br><br>
        {% if image_url %}
          <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
        {% endif %}
        <stream src="2432d6a7e7c5a80b9b6c11696cc89fe6" controls></stream>
        <script data-cfasync="false" defer type="text/javascript" src="https://embed.videodelivery.net/embed/r4xu.fla9.latest.js?video=2432d6a7e7c5a80b9b6c11696cc89fe6"></script>
      </div>
    </div>
