{% extends "base.html" %}

{% block content %}

  <h1>Welcome to Aprende24 </h1>
      {% if user.is_authenticated %}
       <h1> Hi {{ user.email }}!</h1>
        <h1>
          <a href="{% url 'courses:course-list' %}"> Checkout Course Lessons</a>
        </h1>
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
      {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">Log In</a> |
        <a href="{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
{% endblock %}
